@import 'common/paths';

.header {
    background-color: #ff6633;
    .open {
        background-image: url( #{$imgPath}/plus.svg );
    }
    .closed {
        background-image: url( #{$imgPath}/minus.svg );
    }
}
